.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
h1{
  color: #fff;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {

position: fixed;
top: 0;
width: 100%;
height: 100%;
background-size: cover;
  overflow-x: hidden;
  /*background-image: url("https://img.lovepik.com//back_pic/05/75/24/655bd96e8e24e43.jpg_wh860.jpg"); */
  background-image: url("https://github.com/snigdha73/Bank-Balance-App/blob/main/images/bg.jpg");
  background-repeat: no-repeat;
}

.card {
  color: #0d2d6e;
  margin-left: 25%;
  margin-right: 25%;
  background-color: rgb(250, 246, 246);
  padding: 20px 40px;
  margin-top: 60px;
  margin-bottom: 60px;
  border-radius: 5%;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2)
}

.blue-text {
  color: #00BCD4
}

label{
  padding-top: 5%;
}

input,
textarea,
button {
  padding: 8px 15px;
  border-radius: 5px !important;
  margin: 5px 0px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  font-size: 18px !important;
  font-weight: 300

}

input:focus,
textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #00BCD4;
  outline-width: 0;
  font-weight: 400
}

.btn-block {
  text-transform: uppercase;
  font-size: 15px !important;
  font-weight: 400;
  height: 43px;
  cursor: pointer
}

button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0
}

.logo{
  height: 10%;
  width: 8%;

}

.user{
  height: 30%;
  width: 30%;
  
  
}